/* Global styles */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #4caf50;
  margin-top: 0;
}

a {
  text-decoration: none;
}

/* Chat window styles */
.chat-window {
  height: calc(100vh - 300px);
  max-height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
  margin: 0;
}

.text {
  margin: 0;
}

.message-form {
  display: flex;
}

.message-form input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

.message-form button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.message-form button:hover {
  background-color: #3e8e41;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 95%;
    margin: 2% auto;
  }

  .chat-window {
    height: calc(100vh - 400px);
    max-height: 350px;
  }
}


  
  #username {
    font-weight: bold;
    margin: 0;
    background-color: #FFFFFF;
  color: #2E7D32;
  border: 2px solid #2E7D32;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  }

  .join {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .join {
    background-color: #3e8e41;

  } 
